.App {
  text-align: center;
}

/*******my css****/
body{
  background-color:#85aab4;
}

div{
  width:60%;
  height:60%;
  margin:auto;
  margin-top:10px;
  margin-bottom:10px;
  padding:2%;
  border-radius:20px;
  background-color:white;
  box-shadow:2px 4px 4px black;
}
img{
  margin-left:25%;
  border-radius:50%;
  animation:popup 4s;
}
@keyframes popup{
  0%{
   width:0px;
   height:0px;
  }
  100%{
    width:45%;
    height:45%;
  }
}
h1{
  font-family:cursive;
  animation:float 4s;
}
@keyframes float{
  0%{
   display:none;
  }
  100%{
   display:block;
  }
}
span{
  color:darkslateblue;
}


/****end of my css***/
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
