*{
    margin:0px;
    padding:0px;
}
body{
    background-color:lightcoral;
    font-size:18px
}
.box{
    width:420px;
    height:70px;
    background-color:rgba(74, 151, 182, 0.4);
    border:none;
    border-radius:50px;
    box-shadow: 2px 4px 5px lightgrey;
    text-align:center;
    padding-top:25px;
    margin:auto;
    margin-top:350px;
}